/* You can add global styles to this file, and also import other style files */

/* 1) Primera forma de importarlo */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* 2) segunda forma de importarlo */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');

html{
	height: 100%;
}

body {
	min-height: 100vh;
	height: 0;
}

.full-height {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100%;
}

* {
	font-family: 'MuseoModerno', cursive;
}
